.search__header {
  background-color: #0055B8;
  display: grid;
  margin-bottom: 16px; 
  padding: 10px 16px 16px;
  row-gap: 16px; 
}

.search__main {
  padding: 0 16px;
}

.search__header--search {
  display: grid;
  column-gap: 2px;
  grid-template-columns: 1fr 40px;
}

.search__header--wrapper {
  display: grid;
  grid-template-columns: 25px 1fr 20px;
  column-gap: 16px;
  align-items: center;
}

.search__header--title {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;;
}

.search__header--title span {
  font-style: italic;
}

.search__header--wrapper i {
  color: #FFF;
  font-size: 20px;
}